* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noteworthy {
    color: red;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.buy-menu {
    position: relative;
    width: 300px;
    height: 320px;
    background-color: #F7F4D4;
    padding: 5px;
    border: 3px solid darkcyan;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
    display: none;
}

#item-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: scroll;
}

.item {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: end;
}

.item-name {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    -webkit-user-select: none;
    user-select: none;
    background-color: yellowgreen;
    flex-grow: 1;
}

.item-price {
    width: 72px;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
    -webkit-user-select: none;
    user-select: none;
    background-color: violet;
}

.item-buy-button {
    width: 64px;
    height: 30px;
    margin: 0 7px 0 7px;
}

#amount {
    width: 40px;
    text-align: right;
    padding-right: 3px;
}

#buy-panel {
    width: 240px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#buy-panel-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: orange;
    padding: 3px;
    border: 3px solid gold;
    border-radius: 4px;
}

.buy-panel-button {
    margin: 0 7px 0 0;
}

.button-to-right {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 3px;
}