* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.moving-panel {
    min-height: 100vh;
    background-color: lightsteelblue;
    overflow: hidden;
    position: relative;
}

#innerWidth,
#innerHeight {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 1px solid red;
}

.display-box {
    position: absolute;
    width: 400px;
    height: 250px;
    box-shadow: 3px 3px 3px black;
    background-color: white;
}

.top-bar {
    width: 100%;
    height: 35px;
}