* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#innerWidth,
#innerHeight {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 1px solid red;
}

#div1 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #347B98;
    box-shadow: 3px 3px 3px black;
}

#div2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #B2D732;
    box-shadow: 3px 3px 3px black;
}

#div3 {
    width: 120px;
    height: 200px;
    position: absolute;
    background-color: #C21460;
    box-shadow: 3px 3px 3px black;
}

#div4 {
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: #700CBC;
    box-shadow: 3px 3px 3px black;
}

#div5 {
    width: 300px;
    height: 120px;
    position: absolute;
    background-color: #FCCB1A;
    box-shadow: 3px 3px 3px black;
}

div>span {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}