#item-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
}

.inv-item {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}

.inv-item-name {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
}

.inv-item-button {
    width: 48px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inv-item-button button {
    font-size: 7px;
}

.inv-empty {
    width: 160px;
    height: 32px;
    background-color: #c7c4be52;
}

.inv-item-bacground {
    background-color: #F7D4DC;
}

.inv-armor-bacground {
    background-color: #F7E9D4;
}