.inv-title {
    height: 24px;
    background-color: bisque;
}

#item-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: skyblue;
    gap: 5px;
    padding: 5px;
}

.inv-item {
    width: 160px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: aqua;
}

.inv-insert-box {
    width: 0px;
    height: 32px;
    overflow: hidden;
    background-color: lightseagreen;
}

.inv-item-image {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 3px 0 3px;
}

.inv-item-name {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.inv-empty {
    width: 112px;
    height: 32px;
    flex-grow: 1;
}

.inv-empty-bacground {
    background-color: #d1e0e0;
}

.inv-item-bacground {
    background-color: #F7D4DC;
}

.inv-armor-bacground {
    background-color: #F7E9D4;
}