#item-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
}

.inv-item {
    width: 160px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
}

.inv-insert-box {
    width: 0px;
    height: 32px;
    background-color: #347B98;
    transition: width 0.3s linear;
}

.inv-item-name {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    /* 若加上這行，在截取 dnd 圖形的時候會包含按鈕，故註解掉 */
    /* flex-grow: 1; */
}

.inv-item-button {
    position: absolute;
    top: 0;
    right: 0;
}

.inv-item-button button {
    font-size: 7px;
}

.inv-empty {
    width: 112px;
    height: 32px;
    flex-grow: 1;
}

.inv-empty-bacground {
    background-color: #c7c4be52;
}

.inv-item-bacground {
    background-color: #F7D4DC;
}

.inv-armor-bacground {
    background-color: #F7E9D4;
}