.inv-title {
    height: 24px;
    background-color: bisque;
}

#item-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: skyblue;
    gap: 5px;
    padding: 5px;
}

.inv-item {
    width: 160px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: aqua;
}

.inv-insert-box {
    width: 0px;
    height: 32px;
    overflow: hidden;
    background-color: lightseagreen;
}

.inv-item-image {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 3px 0 3px;
}

.inv-item-name {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.inv-empty {
    width: 112px;
    height: 32px;
    flex-grow: 1;
}

.inv-empty-bacground {
    background-color: #d1e0e0;
}

.inv-item-bacground {
    background-color: #F7D4DC;
}

.inv-armor-bacground {
    background-color: #F7E9D4;
}

#inv-action-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    border: 3px solid rgb(0, 178, 178);
    display: none;
    font-size: small;
    padding: 5px;
}

#breakdownAmamount {
    width: 48px;
    text-align: right;
    padding-right: 3px;
    font-family: Tahoma;
}

.small-button {
    font-size: small;
    background-color: #FDE281;
    color: #B08A03;
    border-color: #B08A03;
}

.small-button:hover {
    font-size: small;
    background-color: #B08A03;
    color: white;
}