.inv-title {
    height: 24px;
    background-color: bisque;
}

#item-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: skyblue;
    gap: 5px;
    padding: 5px;
}

.inv-item {
    width: 160px;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: aqua;
}

.inv-insert-box {
    width: 0px;
    height: 32px;
    overflow: hidden;
    background-color: lightseagreen;
}

.inv-item-image {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 3px 0 3px;
}

.inv-item-name {
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.inv-empty {
    width: 112px;
    height: 32px;
    flex-grow: 1;
}

.inv-empty-bacground {
    background-color: #d1e0e0;
}

.inv-item-bacground {
    background-color: #F7D4DC;
}

.inv-armor-bacground {
    background-color: #F7E9D4;
}

/* 控制 inv action panel 的 display 與否 */
#inv-action-panel-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* 買中 inv action panel 的內容 */
#inv-action-panel {
    position: relative;
    width: 240px;
    height: 120px;
    background-color: #ffe6ff;
    border: 3px solid #990099;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inv action panel 的內容 */
.inv-action-panel-content {
    font-size: small;
}

.action-small-button {
    font-size: small;
    background-color: #ffe6ff;
    color: #990099;
    border-color: #990099;
}

.action-small-button:hover {
    font-size: small;
    background-color: #990099;
    color: white;
}

#break-down-amount {
    width: 48px;
    text-align: right;
    padding-right: 3px;
    font-family: Tahoma;
    border: 1px solid #990099;
    outline-color: #990099;
}

#choose-player {
    font-size: small;
    border: 1px solid #990099;
    color: #990099;
    outline-color: #990099;
}

.small-button {
    font-size: small;
    background-color: #FDE281;
    color: #B08A03;
    border-color: #B08A03;
}

.small-button:hover {
    font-size: small;
    background-color: #B08A03;
    color: white;
}

.bottom-right-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}