#item-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3px;
}

.inv-item {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.inv-item-name {
    width: 96px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
}

.inv-item-amount {
    width: 36px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5px;
    background-color: rgb(103, 158, 241);
}

.inv-item-button {
    width: 48px;
    height: 30px;
    display: flex;
    align-items: end;
    justify-content: start;
}

.inv-item-bacground {
    background-color: rgb(187, 239, 67);
}

.inv-armor-bacground {
    background-color: rgb(237, 169, 33);
}