* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.v-separator {
    height: 10px;
}

#main {
    display: flex;
}

#store-scene {
    position: relative;
    width: fit-content;
    height: fit-content;
    -webkit-user-select: none;
    user-select: none;
}

.noteworthy {
    color: red;
    margin: 0 5px 0 5px;
}

#store-name {
    position: absolute;
    top: 0;
    left: 20px;
    background-color: pink;
    padding: 3px 8px;
    font-size: 20px;
    border-width: 8px 3px 3px 3px;
    border-style: solid;
    border-color: green;
}

#store-menu {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: violet;
}

#menu {
    width: 100px;
    height: 30px;
    color: #347B98;
    background-color: #D4EDF7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-menu-effect {
    width: 100px;
    height: 0;
    overflow: hidden;
    transition: height 0.1s linear;
    position: relative;
}

#sub-menu {
    width: 100px;
    height: 90px;
    background-color: plum;
    position: absolute;
    bottom: 0px;
}

.sub-menu-item {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 177, 177);
}

.sub-menu-item:hover {
    background-color: blue;
    color: white;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
    display: none;
}

#item-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: scroll;
}

.item {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: end;
}

.item-image {
    width: fit-content;
    height: 30px;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.item-name {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: yellowgreen;
    flex-grow: 1;
    font-size: 14px;
}

.item-price {
    width: 72px;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 7px;
    background-color: violet;
}

.item-button {
    width: 64px;
    height: 30px;
    margin: 0 3px 0 3px;
    background-color: #FDE281;
    color: #B08A03;
    border-color: #B08A03;
}

.item-button:hover {
    background-color: #B08A03;
    color: white;
    font-size: medium;
}

#amount {
    width: 48px;
    text-align: right;
    padding-right: 3px;
    font-family: Tahoma;
}

#cfm-panel {
    width: 240px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#cfm-panel-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: orange;
    padding: 3px;
    border: 3px solid gold;
}

.cfm-panel-button {
    margin: 0 7px 0 0;
}

.button-to-right {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 3px;
}

.normal-button {
    background-color: #FDE281;
    color: #B08A03;
    border-color: #B08A03;
}

.normal-button:hover {
    background-color: #B08A03;
    color: white;
}