#status {
    width: 380px;
    height: 380px;
    background-color: plum;
}

#scene {
    width: 300px;
    height: 380px;
}

.store-top {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: gold;
}

.store-content {
    position: relative;
    width: 300px;
    height: 320px;
    background-color: #F7F4D4;
    padding: 5px;
}

#inventory-container {
    width: 680px;
    height: fit-content;
    background-color: lightseagreen;
    padding: 3px;
}