* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.moving-panel {
    min-height: 100vh;
    background-color: lightsteelblue;
    overflow: hidden;
    position: relative;
}

#innerWidth,
#innerHeight {
    display: inline-block;
    width: 100px;
    text-align: center;
    border: 1px solid red;
}

.display-layout {
    position: absolute;
    width: 400px;
    overflow: auto;
}

.display-top {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display-top>span {
    width: 60%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    position: absolute;
    padding: 0 0 0 5px;
    top: 4px;
    left: 5px;
}

.display-content {
    width: 100%;
    height: 270px;
}